@font-face {
  font-family: 'gooddogregular';
  src: url('GoodDog-webfont.woff') format('woff'), url('GoodDog-webfont.ttf') format('truetype'), url('GoodDog-webfont.svg#gooddogregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0 10px;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  background-color: #FFEBE7;
  background: radial-gradient(ellipse at center, #FFEBE7 50%, #FFC0BE 100%);
  color: #011638;
  margin-bottom: 2.5em;
}
body a {
  text-decoration: none;
}
body a,
body a:visited,
body a:hover,
body a:active {
  color: #FFC0BE;
}
#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
.container {
  align-self: center;
}
.text-item {
  background: #011638;
  color: #FFC0BE;
  padding: .33em;
  display: inline;
  margin: .1em;
  line-height: 1.8;
  font-family: 'gooddogregular';
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #FF82A9;
  font-size: 2rem;
}
.text-item.large {
  font-size: 3.3rem;
}
@media (max-width: 600px) {
  .text-item {
    text-shadow: none;
    font-size: 1.3rem;
  }
  .text-item.large {
    font-size: 2rem;
  }
}
@media (max-width: 320px) {
  .text-item {
    text-shadow: none;
    font-size: 1.15rem;
  }
  .text-item.large {
    font-size: 2rem;
  }
}
